name: Android Build Apk

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew assembleRelease

      - name: Sign APK
        uses: kevin-david/zipalign-sign-android-release@v1.1
          # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release/
          signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true
        env:
          # override default build-tools version (29.0.3) -- optional
          BUILD_TOOLS_VERSION: "33.0.0"

      - name: Delete temp keys
        run:  |
          rm  "app/build/outputs/apk/release/signingKey.jks"

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v3.1.2
        with:
          name: PokaDex-signed-${{ github.run_number }}
          path: app/build/outputs/apk/release/
